@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


     *{   
          margin: 0;
          padding: 0;
          font-family: 'Roboto', sans-serif;
          background-color:#d1d8e0 ;
          color:#4b6584;
     }
     body{
          background-color:#d1d8e0 ;
     }
     /* fonts */
     h1,h2 {
     font-family: 'Lato', sans-serif;
     color:#4b6584;
     margin-top: 1.5rem;
     text-align: center;
     }
     h1{
          font-size: clamp(2.5rem, 3vw,3.5rem);
     }
     h2{
          font-size: max(2vw,2rem);
     }
     .nava{
          text-decoration: none;
          background-color: #4b6584;
          color:#d1d8e0;
          padding: 1rem;
          border-radius: 0.3rem;
     }
     .nava:hover{
          background-color: #d1d8e0;
          color:#4b6584; 
     }
     
     .navbar{
          display: flex;
          flex-direction: row-reverse;
          list-style: none;
          margin-top:0rem ;
          justify-content: right;
          gap: 1.5rem;
          padding: 1.5rem;
          background-color: #a5b1c2 ;
          
     }
     
     footer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #a5b1c2;
          padding: 1rem;
     }

     .socialmedia{
          background-color: #a5b1c2;
          display: flex;
          flex-flow: row-reverse;   /* coloca a forma que o objeto vai quebrar na mudança de tamanho da pagina*/
          justify-content: center;
          }
     .afooter{
          background-color: #a5b1c2;
     }
     .pfooter{
          background-color: #a5b1c2;
          text-align: center;
     }
     .tm-social{
          background-color: #a5b1c2;
          width: 30px;
          height: 30px;
          padding-left: 10px;
          }

     /*INDEX.HTML*/
     .sobre {
          width: 80vw;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          gap: 3rem;
          align-items: center;
     }
     .imagemMAIN{
          border-radius: 50%;
          width: 25vw;
          border: 3px solid #4b6584;
          padding: 1px;

     }
     .texto{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          text-align: justify;
     }
     .video{
          width: 50vw;
          aspect-ratio: 3/2;
          display: flex;
          margin: 1rem auto;
          border-radius: 10px;
     }
 
     /*CONTATO*/

     .contato{
          display: flex;
          justify-content: space-between;
          align-items: top;
          width: 75vw;
          margin: 2.5rem auto;
          min-height: 78vh;
     }
     form{
          margin-left: 0px;
     }
     .formulario form{
          max-width: 30vw;
     }
     
     input, textarea{
          background-color: white;
          width: 100%;
          padding: 5px 10px;
          border-radius: 10px;
          border: 0;
          margin-bottom: 1rem;
     }
     .enviar {
          width: 75%;
          margin: 0rem auto;
          display: block;
          padding: 1rem 0;
          background-color: #a5b1c2;
          color: #d1d8e0;
          border-style: none;
          border-radius: 10px;
          font-size: 1.275rem;
          transition: background-color .3s ease-out;
        }
        .enviar:hover {
          background-color: #4b6584;
        }
        .mapa{
             width: 40vw;
             display: flex;
             flex-direction: column;
        }
        .maps{
             width: 100%;
             aspect-ratio: 2/1;
             border-radius: 1rem;
        }


        @media screen and (max-width: 768px) {
          .sobre {
            width: 90vw;
            flex-direction: column;
          }
        
          .imagem {
            width: 70vw;
            border-radius: 2rem;
          }
          .enviar{
               width: 85vw;
          }
        
          .video {
            width: 85vw;
            aspect-ratio: 3/2;
          }
          .mapa{
               align-items: center;
          }
          .maps{
               width: 85vw;
               
               aspect-ratio: 3/2;
               border-radius: 1rem;
          }
          .contato{
               flex-direction: column;
               width: 100vw;
               margin-bottom: 1rem;
               align-items: center;
          }
          .formulario {
               align-items: center;
               width: 85vw;
               margin-bottom: 0rem;
          }
          
          input, textarea{
               background-color: white;
               width: 80vw;
               border-radius: 10px;

          }
        }